attached_assets/Screen_Recording_20260610_075804_Chrome_1781172279399.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/Screen_Recording_20260610_075804_Chrome_1781459151763.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/Grabación_de_pantalla_desde_2026-09-21_18-04-33_1790035987944.mp4 filter=lfs diff=lfs merge=lfs -text
